body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

h1 {
  color: #333;
}

#map {
  width: 70%;
  height: 1000px;
  margin: 20px auto;
  border: 3px solid #333;
}

#question {
  font-size: 20px;
  font-weight: bold;
}

#result {
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}

#nextBtn {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}
